@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FireEmblemFont';
    src: url('./assets/fonts/fe_text.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'FireEmblemFont', sans-serif;
  }
  